div{
    display: flex;
    flex-direction: column;
}
.aprovado{
    color: green;
    margin: 5px;
    border: none;
    background-color: black;
}
.reprovado{
    color: red;
    margin: 5px;
    border: none;
    background-color: black;
}