*{
    margin: 0;
    font-family: sans-serif;
}

header{
    height: 10vw;
    width: 100vw;
    background-color: rgb(3,54,255);
    color: seashell;
    justify-content: center;
    align-items: center;


}
main{
    margin: 5vh auto;
    height: 60vw;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(206, 232, 203);
    padding: 5vw;
    box-sizing: border-box;
}

main label{
    color: grey;
}
main input{
   border:none;
   border-bottom: 1px solid black;
   background-color: rgb(206, 232, 203);
   outline: none;
   font-size: 4vw;
}
main button{
    font-size: 4vw;
    padding: 1vh;


}
footer{
    height: 15vh;
    width: 85vw;
    background-color: #CEE8CD;
    margin: auto;
    box-sizing: border-box;
    padding: 5vw;

}